.v-enter-active,
.v-leave-active {
    transition: opacity 0.3s ease;
}
.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.button-label{
    margin-left: 0.1rem;
}

.nectar-publisher-logo {
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%226405.222%22%20height%3D%226401.221%22%20viewBox%3D%220%200%201694.715%201693.657%22%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%20clipPathUnits%3D%22userSpaceOnUse%22%3E%3Cpath%20d%3D%22M0%200h21000v29700H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg%20style%3D%22fill-rule%3Aevenodd%3Bstroke-width%3A28.22200012%3Bstroke-linejoin%3Around%22%3E%3Cg%20class%3D%22SlideGroup%22%3E%3Cg%20class%3D%22Slide%22%20clip-path%3D%22url(%23a)%22%20transform%3D%22matrix(.26458%200%200%20.26458%20-2023.24%20-3387.696)%22%3E%3Cg%20class%3D%22Page%22%3E%3Cg%20class%3D%22com.sun.star.drawing.CustomShape%22%3E%3Cpath%20d%3D%22M10825%2014723h2112v2544h-2112z%22%20class%3D%22BoundingBox%22%20style%3D%22fill%3Anone%3Bstroke%3Anone%22%20transform%3D%22translate(36%20-1)%22%2F%3E%3Cpath%20d%3D%22M10826%2016630v-1270l1054-636%201055%20636v1270l-1055%20635z%22%20style%3D%22fill%3A%23ffdbb6%3Bstroke%3Anone%22%20transform%3D%22translate(36%20-1)%22%2F%3E%3Cpath%20d%3D%22M10826%2016630v-1270l1054-636%201055%20636v1270l-1055%20635z%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffdbb6%22%20transform%3D%22translate(36%20-1)%22%2F%3E%3C%2Fg%3E%3Cg%20class%3D%22com.sun.star.drawing.CustomShape%22%3E%3Cpath%20d%3D%22M8717%2014723h2112v2544H8717z%22%20class%3D%22BoundingBox%22%20style%3D%22fill%3Anone%3Bstroke%3Anone%22%20transform%3D%22translate(10)%22%2F%3E%3Cpath%20d%3D%22M8718%2016630v-1270l1054-636%201055%20636v1270l-1055%20635z%22%20style%3D%22fill%3A%23ff972f%3Bstroke%3Anone%22%20transform%3D%22translate(10)%22%2F%3E%3Cpath%20d%3D%22M8718%2016630v-1270l1054-636%201055%20636v1270l-1055%20635z%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ff972f%22%20transform%3D%22translate(10)%22%2F%3E%3C%2Fg%3E%3Cg%20class%3D%22com.sun.star.drawing.CustomShape%22%3E%3Cpath%20d%3D%22M9771%2016637h2112v2544H9771z%22%20class%3D%22BoundingBox%22%20style%3D%22fill%3Anone%3Bstroke%3Anone%22%20transform%3D%22translate(22%2012)%22%2F%3E%3Cpath%20d%3D%22M9772%2018544v-1270l1054-636%201055%20636v1270l-1055%20635z%22%20style%3D%22fill%3A%23ffbf00%3Bstroke%3Anone%22%20transform%3D%22translate(22%2012)%22%2F%3E%3Cpath%20d%3D%22M9772%2018544v-1270l1054-636%201055%20636v1270l-1055%20635z%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffbf00%22%20transform%3D%22translate(22%2012)%22%2F%3E%3C%2Fg%3E%3Cg%20class%3D%22com.sun.star.drawing.CustomShape%22%3E%3Cpath%20d%3D%22M7660%2012817h2112v2544H7660z%22%20class%3D%22BoundingBox%22%20style%3D%22fill%3Anone%3Bstroke%3Anone%22%2F%3E%3Cpath%20d%3D%22M7661%2014724v-1270l1054-636%201055%20636v1270l-1055%20635z%22%20style%3D%22fill%3A%23ffbf00%3Bstroke%3Anone%22%2F%3E%3Cpath%20d%3D%22M7661%2014724v-1270l1054-636%201055%20636v1270l-1055%20635z%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffbf00%22%2F%3E%3C%2Fg%3E%3Cg%20class%3D%22com.sun.star.drawing.CustomShape%22%3E%3Cpath%20d%3D%22M9768%2012817h2112v2544H9768z%22%20class%3D%22BoundingBox%22%20style%3D%22fill%3Anone%3Bstroke%3Anone%22%20transform%3D%22translate(28)%22%2F%3E%3Cpath%20d%3D%22M9769%2014724v-1270l1054-636%201055%20636v1270l-1055%20635z%22%20style%3D%22fill%3A%23be480a%3Bstroke%3Anone%22%20transform%3D%22translate(28)%22%2F%3E%3Cpath%20d%3D%22M9769%2014724v-1270l1054-636%201055%20636v1270l-1055%20635z%22%20style%3D%22fill%3Anone%3Bstroke%3A%23be480a%22%20transform%3D%22translate(28)%22%2F%3E%3C%2Fg%3E%3Cg%20class%3D%22com.sun.star.drawing.CustomShape%22%3E%3Cpath%20d%3D%22M11876%2012817h2112v2544h-2112z%22%20class%3D%22BoundingBox%22%20style%3D%22fill%3Anone%3Bstroke%3Anone%22%20transform%3D%22translate(52)%22%2F%3E%3Cpath%20d%3D%22M11877%2014724v-1270l1054-636%201055%20636v1270l-1055%20635z%22%20style%3D%22fill%3A%23ff972f%3Bstroke%3Anone%22%20transform%3D%22translate(52)%22%2F%3E%3Cpath%20d%3D%22M11877%2014724v-1270l1054-636%201055%20636v1270l-1055%20635z%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ff972f%22%20transform%3D%22translate(52)%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

@media (min-width: 768px) {
    form .row .notFirst {
        display: none;
    }

    form hr {
        display: none;
    }
}

.row .shrink {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: .5em;
    padding-right: 0;
}

.row .shrink span {
    display: flex;
    width: 3ch;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #f5d302;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: .75em;
}

.row .label {
    flex-grow: 1;
}

#exportTabs {
    margin-top: 2em;
}

.exports {
    position: relative;
}

.more {
    position: absolute;
    inset: 1em 1em auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

pre {
    padding: 2em;
    border: 1px solid #eee;
    border-top: none;
    max-height: 90vh;
    overflow: auto;
}
